<h1>New User:</h1>
<form action='/users/' method='POST'>
  <input type="text" name='user[name]' placeholder='name'><br>
  <input type="submit" value="Create">
</form>
<p>Find me in app/views/users/new.html.erb</p>
