<h1>Everyones Secrets</h1>
<a href="/users/<%= current_user.id %>">Your Page</a>
<h4>Listed Anonymously</h4>
<% @secrets.each do |secret| %>
  <p><%=secret.content%></p>
  <a href="/secrets/<%=secret.id%>/likes" data-method="POST">Like</a>
  <% if current_user == secret.user %>
  <a href="/secrets/<%=secret.id%>" data-method="delete">Delete</a>
  <% end %>
<% end %>

<p>Find me in app/views/secrets/index.html.erb</p>
