<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<a href="/restart">START OVER</a>
<h2>Farm</h2>
<p>(earns 10-20 gold)</p>
<form action="/goldmine" method="POST">
<input type="hidden" name="destination" value="Farm">
<input type="submit" value="Find Gold!">
<!-- Make hidden input consistent between them -->
</form><br>

<h2>Cave</h2>
<p>(earns 5-10 gold)</p>
<form action="/goldmine" method="POST">
<input type="hidden" name="destination" value="Cave">
<input type="submit" value="Find Gold!">
</form><br>

<h2>House</h2>
<p>(earns 2-5 gold)</p>
<form action="/goldmine" method="POST">
<input type="hidden" name="destination" value="House">
<input type="submit" value="Find Gold!">
</form><br>

<h2>Casino</h2>
<p>(earns Or takes 0-50 gold)</p>
<form action="/goldmine" method="POST">
<input type="hidden" name="destination" value="Casino">
<input type="submit" value="Find Gold!">
</form><br>

<p>Activities:</p><br>

<p>Find me in app/views/games/index.html.erb</p>
