<h1>New Dojo</h1>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>
<form action="/dojos" method="POST">
    Branch: <input type="text" name="dojo[branch]"><br>
    Street: <input type="text" name="dojo[street]"><br>
    City: <input type="text" name="dojo[city]"><br>
    State: <input type="text" name="dojo[state]"><br>
    <input type="submit" value="Create" name="Create">
</form>
<a href="/dojos">Go Back</a>
<p>Find me in app/views/dojo/new.html.erb</p>
