<h1>DOJO SECRETS</h1>
<p>All your secrets are belong to us</p>
<h2>Register a new user:<a href="/users/new">New User</a></h2>
<h2>Or Login: <a href="/sessions/new">Login</a></h2>


<p>Find me in app/views/users/index.html.erb</p>
