
<h1>Welcome, <%= current_user.name %></h1>
<h3>We kept all your secrets safe while you were gone.</h3>
<p><%= current_user.email %></p>
<a href="/users/<%=current_user.id%>/edit">Edit your info</a><br>
@secrets = current_user.secrets 
<p>Find me in app/views/users/show.html.erb</p>
